{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container mb-2">
        <div class="row">
            <div class="col text-center mt-4">
                <hr>
                <h2 class="org-text text-uppercase">You're almost a member...</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                {% if bag_items %}
                    <div class="table-responsive rounded"></div>
                {% else %}
                    <p class="lead mb-5 mt-5">You currently have no passes in your bag.</p>
                    <a href="{% url 'products' %}"
                        class="btn btn-lg btn-outline-black join-btn text-uppercase rounded-0">
                        Choose A Membership
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}