{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100">
            <div class="col my-auto">
                <h1 class="logo-font text-white">Join LJ Fitness</h1>
                <h3>Feel happier, healthier and energized</h3>
                <div class="my-3">
                    <h2>
                        <a href="" class="btn btn-lg rounded-0 text-uppercase py-3">Transform yourself now</a>
                    </h2>
                </div>
            </div>
        </div>
    </div>
{% endblock %}