{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col text-center mt-4">
                <hr>
                <h2 class="org-text text-uppercase">My Memberships</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <p class="text-uppercase mt-4">Your active monthly passes:</p>
            </div>
        </div>
        <div class="row">
            {% for item in order.lineitems.all %}
                <div class="col-sm-12 col-lg-4">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title org-text text-uppercase text-center">{{ product.name }}</h3>
                            <p class="card-text text-center card-price large-font">£{{ product.price }}</p>
                            <p class="card-text text-center">{{ product.description }}</p>
                            <p class="card-text text-center">
                                <a href="{% url 'product_detail' product.id %}"
                                    class="join-btn btn-lg text-uppercase rounded-0">Join Now</a>
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}