html {
    height: 100%;
}

body {
    background: url('/media/home-img.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #dddbdb;
    font-family: 'Open Sans', sans-serif;
}

.navbar-nav {
    font-size: 25px;
    text-shadow: #3c3c3c 2px 1px;
}

.dropdown-menu {
    background-color: #212121;
    opacity: 0.8;
}

.dropdown-item {
    color: #dddbdb;
}

.logo-link {
    width: fit-content;
}

.my-memb {
    text-shadow: #3c3c3c 1px 1px;
}

.text-white {
    color: #dddbdb !important;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #212121;
    z-index: -1;
}

.welcome-text {
    background-color: #212121;
    opacity: 0.8;
    padding-top: 20px;
}

.detail-container {
    float: right;
    line-height: 40px;
}

hr {
    border-top: #dddbdb 1px solid;
}

.large-font {
    font-size: 30px;
    font-weight: 700;
}

.buttons {
    text-decoration: none;
}

.transform-btn {
    border: #dddbdb 1px solid;
}

/* -- Memberships Page --*/

.card {
    background-color: #212121;
    margin: 10px;
}

.card-title, .card-text {
    background-color: #3c3c3c;
    padding: 20px;
}

.org-text {
    color: #bc8932;
}

.join-btn {
    border: #bc8932 1px solid;
    color: #bc8932;
}

.join-btn:hover, .buttons:hover {
    text-decoration: none;
    color: #dddbdb;
}

.buy-btn {
    background-color: #bc8932;
    color: #212121;
    font-weight: 600;
}

.add_cart {
    background-color: #212121;
}

.add_cart:hover {
    background-color: #3c3c3c;
}

/* ----------------------------- Media Queries */

/* Widens Bootstrap container on larger screens */
/* Sourced from CI Boutique Ado walkthrough project */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
  }

/* Fixed top navbar on medium and larger screens */
/* Sourced from CI Boutique Ado walkthrough project */
@media (min-width: 992px) {

    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

@media (max-width: 992px) {

    .detail-container, .membership-img {
        padding-top: 164px;
    }
}

@media (max-width: 768px) {

    .membership-img {
        display: none;
    }
}
