<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="nav-link text-white font-weight-bold mr-5" href="#" id="our-sessions-link"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Our Sessions
            </a>
            <div class="dropdown-menu" aria-labelledby="our-sessions-link">
                <a href="" class="dropdown-item">Strength & Conditioning</a>
                <a href="" class="dropdown-item">HIIT</a>
                <a href="" class="dropdown-item">Boxing</a>
            </div>
        </li>
    </ul>
</div>