{% load static %}

<!doctype html>
<html lang="en">
    <head>
        {% block meta %}
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% endblock %}

        {% block extra_meta %}
        {% endblock %}

        {% block corecss %}
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
            <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
            <link href="{% static 'css/base.css' %}" rel="stylesheet">
        {% endblock %}

        {% block extra_css %}
        {% endblock %}
        
        {% block corejs %}
            <script src="https://kit.fontawesome.com/cf2f56541f.js" crossorigin="anonymous"></script>
            <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
            <script src="https://js.stripe.com/v3/"></script>
        {% endblock %}

        {% block extra_js %}
        {% endblock %}
        
        <title>LJ Fitness {% block extra_title %}{% endblock %}</title>
    </head>
    <body>
        <header class="container-fluid fixed-top">
            <div id="topnav" class="row pt-lg-3 d-none d-lg-flex">
                <div class="col-12 col-lg-6 my-auto py-1 py-lg-0 text-center text-lg-left">
                    <a href="{% url 'home' %}" class="nav-link logo-link">
                        <h2 class="text-white my-0 text-uppercase"><span class="org-text">LJ</span> Fitness</h2>
                    </a>
                </div>
                <div class="col-12 col-lg-6 my-auto py-1 py-lg-0">
                    <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                        <li class="list-inline-item dropdown">
                            <a class="text-white nav-link" href="#" id="user-options"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="text-center">
                                    <div><i class="fas fa-running org-text"></i></div>
                                    <p class="my-0 text-uppercase org-text my-memb">My Memberships</p>
                                </div>
                            </a>
                            <div class="dropdown-menu border-0" aria-labelledby="user-options">
                                {% if request.user.is_authenticated %}
                                    {% if request.user.is_superuser %}
                                        <a href="{% url 'add_product' %}" class="dropdown-item text-uppercase">Gym Management</a>
                                    {% endif %}
                                    <a href="{% url 'profile' %}" class="dropdown-item text-uppercase">My Memberships</a>
                                    <a href="{% url 'account_logout' %}" class="dropdown-item text-uppercase">Sign Out</a>
                                {% else %}
                                    <a href="{% url 'account_signup' %}" class="dropdown-item text-uppercase">Sign Up</a>
                                    <a href="{% url 'account_login' %}" class="dropdown-item text-uppercase">Sign In</a>
                                {% endif %}
                            </div>
                        </li>
                        <li class="list-inline-item">
                            <a class="{% if grand_total %}org-text font-weight-bold{% else %}text-white{% endif %} nav-link shopping-cart"
                                href="{% url 'view_bag' %}">
                                <div class="text-center">
                                    <div><i class="fas fa-shopping-bag fa-lg"></i></div>
                                    <p class="my-0">
                                        {% if grand_total %}
                                            £{{ grand_total|floatformat:2 }}
                                        {% else %}
                                            £0.00
                                        {% endif %}
                                    </p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <nav class="navbar navbar-expand-lg w-100">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav"
                        aria-controls="main-nav" aria-expanded="false" aria-label="toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    {% include 'includes/mobile_top_header.html' %}
                    {% include 'includes/main_nav.html' %}
                </nav>
            </div>
        </header>

        {% if messages %}
        <div class="message-container">
            {% for message in messages %}
                {% with message.level as level %}
                    {% if level == 40 %}
                        {% include 'includes/toasts/toast_error.html' %}
                    {% elif level == 30 %}
                        {% include 'includes/toasts/toast_warning.html' %}
                    {% elif level == 25 %}
                        {% include 'includes/toasts/toast_success.html' %}
                    {% else %}
                        {% include 'includes/toasts/toast_info.html' %}
                    {% endif %}
                {% endwith %}
            {% endfor %}
        </div>
    {% endif %}

        {% block page_header %}
        {% endblock %}

        {% block content %}
        {% endblock %}

        <footer class="footer mt-auto py-3">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-6 mt-2 text-center text-uppercase timetable welcome-text">
                        <!--Timetable-->
                        <h5 class="mb-5 org-text">Timetable</h5>
                        <ul id="timetable-list">
                            <li>
                                <p>Monday & Friday<strong class="org-text"> Fitness</strong>
                                    Every hour from 6am - 6pm
                                </p>
                            </li>
                            <li>
                                <p>Tuesday & Thursday<strong class="org-text"> S&C</strong>
                                    Every hour from 6am - 6pm
                                </p>
                            </li>
                            <li>
                                <p>Wednesday<strong class="org-text"> Boxing</strong>
                                    Every hour from 6am - 6pm
                                </p>
                            </li>
                            <li>
                                <p>Saturday & Sunday<strong class="org-text"> S&C/Fitness</strong>
                                    Every hour from 6am - 2pm
                                </p>
                            </li>
                        </ul>
                    </div>
                    <!--Social Media external links-->
                    <div class="col-12 col-lg-6 mt-2 text-center text-uppercase timetable welcome-text">
                        <h5 class="mb-5 org-text">Social Media</h5>
                        <a class="large-font text-white p-4" href="https://www.instagram.com/" target="_blank"><i
                                class="fab fa-instagram-square"></i></a>
                        <a class="large-font text-white p-4" href="https://www.facebook.com/" target="_blank"><i
                                class="fab fa-facebook-square"></i></a>
                        <a class="large-font text-white p-4" href="https://twitter.com/" target="_blank"><i
                                class="fab fa-twitter"></i></a>
                    </div>
                </div>
            </div>
    
            <!--Sub Footer with copyright tag-->
            <div class="footer-copyright text-center mt-3">
                <div class="container">
                    © 2022 Copyright Text
                </div>
            </div>
        </footer>

        {% block postloadjs %}
        <script type="text/javascript">
            $('.toast').toast('show');
        </script>
        {% endblock %}

    </body>
</html>